@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Neuton:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Neuton:wght@200&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Neuton:wght@200&family=Roboto:wght@300&family=Sanchez&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Neuton:wght@200&family=Prata&family=Roboto:wght@300&family=Sanchez&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karma:wght@500&family=Neuton:wght@200&family=Prata&family=Roboto:wght@300&family=Sanchez&display=swap");

:root {
  /* grey */
  --grey-100: #f8fafc;
  --grey-200: #f1f5f9;
  --grey-300: #e2e8f0;
  --grey-400: #cbd5e1;
  --grey-500: #94a3b8;
  --grey-600: #64748b;
  --grey-700: #475569;
  --grey-800: #334155;
  --grey-900: #1e293b;

  /* primary */
  --primary-100: #cde4fb;
  --primary-200: #9bcaf8;
  --primary-300: #68aff4;
  --primary-400: #3695f1;
  --primary-500: #047aed;
  --primary-600: #0362be;
  --primary-700: #02498e;
  --primary-800: #02315f;
  --primary-900: #01182f;

  /* secondary */
  --secondary-100: #e2e0ff;
  --secondary-200: #c1beff;
  --secondary-300: #a29dff;
  --secondary-400: #837dff;
  --secondary-500: #645cff;
  --secondary-600: #504acc;
  --secondary-700: #3c3799;
  --secondary-800: #282566;
  --secondary-900: #141233;

  /* fancy */
  --tertiary-100: #fff4f7;
  --tertiary-200: #ffe9ef;
  --tertiary-300: #fedde7;
  --tertiary-400: #fed2df;
  --tertiary-500: #fec7d7;
  --tertiary-600: #cb9fac;
  --tertiary-700: #987781;
  --tertiary-800: #665056;
  --tertiary-900: #33282b;

  /* dark */
  --dark-color: #000000;

  /*heading fonts */
  --heading-font-1: "Neuton", sans-serif;
  --heading-font-2: "Prata", sans-serif;

  /* body fonts */
  --body-font-1: "Roboto", sans-serif;
  --body-font-2: "Sanchez", sans-serif;
  --body-font-3: "karma", sans-serif;

  /* font weights */
  --font-weight-1: 400;
  --font-weight-2: 600;

  /* font sizes */
  --font-size-1: 1rem;
  --font-size-2: 1.025rem;

  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);

  /* other variables */
  --background-color: var(--grey-100);
  --text-color: var(--dark-color-000);
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
}

html {
  font-size: 100%;
}

* {
  margin: 0;
  padding: 0;
}

*::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0 0.625rem;
  padding: 0 0.625rem;
  line-height: 1.75;
  font-size: var(--font-size-1);
  font-family: var(--body-font-3);
  background-color: var(--background-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.25rem 0 0.625rem 0;
  text-transform: capitalize;
  line-height: 1.5;
  font-weight: var(--font-weight-1);
  font-family: var(--heading-font-2);
  color: var(--dark-color);
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1rem;
}

p {
  margin: 0.625rem 0 1.25rem 0;
  max-width: 600px;
}

a {
  cursor: pointer;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.btn {
  border: none;
  background-color: transparent;
  padding: 10px;
}

.btn-primary {
  background-color: var(--primary-200);
}
